body {
    font-family: Arial, sans-serif;
    background-color: #e43c90;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    margin-top: 5px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
}
